@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/Atkinson-Hyperlegible-Regular-102.ttf') format("ttf");
}

.theme-light {
  --omicron-theme-accent-color-h: 1;
  --omicron-theme-accent-color-s: 56%;
  --omicron-theme-accent-color-l: 54%;
  --accent-h: var(--omicron-theme-accent-color-h);
  --accent-s: var(--omicron-theme-accent-color-s);
  --accent-l: var(--omicron-theme-accent-color-l);
  
  --oros-light-theme-base-color-h: 0;
  --oros-light-theme-base-color-s: 0%;
  --oros-light-theme-base-color-l: 13%;
  --theme-base-color-h: var(--oros-light-theme-base-color-h);
  --theme-base-color-s: var(--oros-light-theme-base-color-s);
  --theme-base-color-l: var(--oros-light-theme-base-color-l);
  
  --color-base-200: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 100%));
  --color-base-195: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 95%));
  --color-base-190: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 90%));
  --color-base-185: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 85%));
  --color-base-180: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 80%));
  --color-base-175: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 75%));
  --color-base-170: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 70%));
  --color-base-165: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 65%));
  --color-base-160: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 60%));
  --color-base-155: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 55%));
  --color-base-150: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 50%));
  --color-base-145: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 45%));
  --color-base-140: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 40%));
  --color-base-135: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 35%));
  --color-base-130: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 30%));
  --color-base-125: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 25%));
  --color-base-120: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 20%));
  --color-base-115: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 15%));
  --color-base-110: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 10%));
  --color-base-105: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 5%));
  --color-base-100: hsl(var(--theme-base-color-h), var(--theme-base-color-s), var(--theme-base-color-l));
  --color-base-95: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 5%));
  --color-base-90: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 10%));
  --color-base-85: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 15%));
  --color-base-80: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 20%));
  --color-base-75: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 25%));
  --color-base-70: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 30%));
  --color-base-65: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 35%));
  --color-base-60: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 40%));
  --color-base-55: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 45%));
  --color-base-50: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 50%));
  --color-base-45: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 55%));
  --color-base-40: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 60%));
  --color-base-35: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 65%));
  --color-base-30: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 70%));
  --color-base-25: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 75%));
  --color-base-20: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 80%));
  --color-base-15: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 85%));
  --color-base-10: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 90%));
  --color-base-05: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 95%));
  --color-base-00: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 100%))
}

.theme-dark {	
  --oros-dark-theme-base-color-h: 0;
  --oros-dark-theme-base-color-s: 0%;
  --oros-dark-theme-base-color-l: 13%;
  --theme-base-color-h: var(--oros-dark-theme-base-color-h);
  --theme-base-color-s: var(--oros-dark-theme-base-color-s);
  --theme-base-color-l: var(--oros-dark-theme-base-color-l);
  
  --color-base-200: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 100%));
  --color-base-195: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 95%));
  --color-base-190: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 90%));
  --color-base-185: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 85%));
  --color-base-180: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 80%));
  --color-base-175: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 75%));
  --color-base-170: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 70%));
  --color-base-165: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 65%));
  --color-base-160: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 60%));
  --color-base-155: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 55%));
  --color-base-150: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 50%));
  --color-base-145: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 45%));
  --color-base-140: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 40%));
  --color-base-135: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 35%));
  --color-base-130: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 30%));
  --color-base-125: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 25%));
  --color-base-120: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 20%));
  --color-base-115: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 15%));
  --color-base-110: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 10%));
  --color-base-105: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) + 5%));
  --color-base-100: hsl(var(--theme-base-color-h), var(--theme-base-color-s), var(--theme-base-color-l));
  --color-base-95: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 5%));
  --color-base-90: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 10%));
  --color-base-85: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 15%));
  --color-base-80: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 20%));
  --color-base-75: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 25%));
  --color-base-70: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 30%));
  --color-base-65: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 35%));
  --color-base-60: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 40%));
  --color-base-55: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 45%));
  --color-base-50: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 50%));
  --color-base-45: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 55%));
  --color-base-40: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 60%));
  --color-base-35: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 65%));
  --color-base-30: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 70%));
  --color-base-25: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 75%));
  --color-base-20: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 80%));
  --color-base-15: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 85%));
  --color-base-10: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 90%));
  --color-base-05: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 95%));
  --color-base-00: hsl(var(--theme-base-color-h), var(--theme-base-color-s), calc(var(--theme-base-color-l) - 100%))
}

.theme-light {
  --background-primary: var(--color-base-00);/*bg*/
  --background-primary-alt: var(--color-base-00);
  --background-secondary: var(--color-base-20);/*sidebar*/
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-border: var(--color-base-30);
  --background-modifier-border-hover: var(--color-base-35);
  --background-modifier-border-focus: var(--color-base-25)
}

.theme-dark {
  --background-primary: var(--color-base-100);/*bg*/
  --background-primary-alt: var(--color-base-100);
  --background-secondary: var(--color-base-95);/*sidebar*/
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-border: var(--color-base-100);
  --background-modifier-border-hover: var(--color-base-35);
  --background-modifier-border-focus: var(--color-base-110)
}

.theme-light .search-result:not(.is-collapsed) .search-result-file-title {
  color: var(--color-base-40)
}

.theme-light .backlink-pane>.tree-item-self.is-collapsed,
.theme-light .outgoing-link-pane>.tree-item-self.is-collapsed {
  color: var(--color-base-40)
}

.theme-light .backlink-pane>.tree-item-self,
.theme-light .outgoing-link-pane>.tree-item-self {
  color: var(--color-base-40)
}

@media(hover: hover) {

  .theme-light .backlink-pane>.tree-item-self.is-clickable:hover,
  .theme-light .outgoing-link-pane>.tree-item-self.is-clickable:hover {
    color: var(--color-base-00)
  }
}

.theme-dark .search-result:not(.is-collapsed) .search-result-file-title {
  color: var(--color-base-160)
}

.theme-dark .backlink-pane>.tree-item-self.is-collapsed,
.theme-dark .outgoing-link-pane>.tree-item-self.is-collapsed {
  color: var(--color-base-160)
}

.theme-dark .backlink-pane>.tree-item-self,
.theme-dark .outgoing-link-pane>.tree-item-self {
  color: var(--color-base-160)
}

@media(hover: hover) {

  .theme-dark .backlink-pane>.tree-item-self.is-clickable:hover,
  .theme-dark .outgoing-link-pane>.tree-item-self.is-clickable:hover {
    color: var(--color-base-100)
  }
}

body {
  --embed-block-shadow-hover: 0 0 0 0 var(--background-modifier-border), inset 0 0 0 0 var(--background-modifier-border)
}

body {
  --code-background: var(--background-primary-alt)
}

body .markdown-source-view.mod-cm6 .code-block-flair {
  right: 1px;
  top: 1px;
  color: var(--text-faint);
  cursor: pointer
}

.theme-light {
  --code-block-border-width: 1px;
  --code-block-border-style: solid;
  --code-block-border-color: var(--color-base-40)
}

.theme-dark {
  --code-block-border-width: 1px;
  --code-block-border-style: solid;
  --code-block-border-color: var(--color-base-95)
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
  border-style: var(--code-block-border-style);
  border-color: var(--code-block-border-color);
  border-width: 0 var(--code-block-border-width) 0 var(--code-block-border-width)
}

.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-style: var(--code-block-border-style);
  border-color: var(--code-block-border-color);
  border-width: var(--code-block-border-width) var(--code-block-border-width) 0 var(--code-block-border-width)
}

.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: var(--code-block-border-style);
  border-color: var(--code-block-border-color);
  border-width: 0 var(--code-block-border-width) var(--code-block-border-width) var(--code-block-border-width)
}

.theme-light {
  --divider-color: var(--color-base-25);/*color barra divisoria body*/
  --divider-color-hover: var(--interactive-accent);
  --divider-width: 2px
}

.theme-dark {
  --divider-color: var(--color-base-95);/*color barra divisoria body*/
  --divider-color-hover: var(--interactive-accent);
  --divider-width: 2px
}

.theme-light {
  --nav-item-size: var(--font-ui-small);/*fuente del side*/
  --nav-item-color: var(--color-base-100);/*sidebar font*/
  --nav-item-color-hover: var(--color-base-200);
  --nav-item-color-active: var(--color-base-200);/*sidebar selected*/
  --nav-item-color-selected: var(--color-base-100);
  --nav-item-weight-hover: normal;
  --nav-item-weight-active: bold;
  --nav-item-background-hover: var(--interactive-accent);
  --nav-item-background-active: var(--interactive-accent);
  --nav-indentation-guide-color: var(--color-base-50);/*sidebar guide line*/
  --nav-collapse-icon-color: var(--color-accent);
  --nav-collapse-icon-color-collapsed: var(--color-accent);
  
}

.theme-light .nav-file-title:hover svg,
.theme-light .nav-folder-title:hover svg {
  color: var(--color-base-00)
}

.theme-dark {
  --nav-item-size: var(--font-ui-small);/*fuente del side*/
  --nav-item-color: var(--color-base-160);/*sidebar font*/
  --nav-item-color-hover: var(--color-base-200);
  --nav-item-color-active: var(--color-base-200);/*sidebar selected*/
  --nav-item-color-selected: var(--color-base-160);
  --nav-item-weight-hover: normal;
  --nav-item-weight-active: bold;
  --nav-item-background-hover: var(--interactive-accent);
  --nav-item-background-active: var(--interactive-accent);
  --nav-indentation-guide-color: var(--color-base-105);/*sidebar guide line*/
  --nav-collapse-icon-color: var(--color-accent);
  --nav-collapse-icon-color-collapsed: var(--color-accent);
  --nav-item-color-highlighted: var(--color-base-200);
}

.theme-dark .nav-file-title:hover svg,
.theme-dark .nav-folder-title:hover svg {
  color: var(--color-base-100)
}

body {
  --omicron-theme-interface-font: "Atkinson Hyperlegible", inter;/*fuente del side*/
  --omicron-theme-text-font: "Atkinson Hyperlegible", inter;
  --omicron-theme-monospace-font: "";
  --font-interface-override: var(--omicron-theme-interface-font);
  --font-text-override: var(--omicron-theme-text-font);
  --font-monospace-override: var(--omicron-theme-monospace-font)
}

.theme-light {
  --icon-color: var(--color-base-100);/*color de los iconos de la cinta*/
  --icon-color-hover: var(--color-accent);
  --icon-color-active: var(--color-accent);
  --icon-color-focused: var(--color-accent)
}

.theme-dark {
  --icon-color: var(--color-base-160);/*color de los iconos de la cinta*/
  --icon-color-hover: var(--color-accent);
  --icon-color-active: var(--color-accent);
  --icon-color-focused: var(--color-accent)
}

.is-focused .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-icon {
  color: var(--color-accent)
}

.theme-light {
  --list-marker-color: var(--color-accent)
}

.theme-dark {
  --list-marker-color: var(--color-accent)
}

.theme-light .menu {
  border: 1px solid var(--color-base-90)
}

.theme-light .menu-item {
  color: var(--color-base-100)
}

.theme-light .menu-item-icon {
  color: var(--color-base-100)
}

.theme-light .menu-separator {
  border-bottom: 1px solid var(--color-base-90)
}

@media(hover: hover) {
  .theme-light .menu-item:hover:not(.is-disabled):not(.is-label) {
    color: var(--color-base-20);
    background-color: var(--color-accent)
  }
}

.theme-dark .menu {
  border: 1px solid var(--color-base-110)
}

.theme-dark .menu-item {
  color: var(--color-base-160)
}

.theme-dark .menu-item-icon {
  color: var(--color-base-160)
}

.theme-dark .menu-separator {
  border-bottom: 1px solid var(--color-base-110)
}

@media(hover: hover) {
  .theme-dark .menu-item:hover:not(.is-disabled):not(.is-label) {
    color: var(--color-base-20);
    background-color: var(--color-accent)
  }
}

.tree-item-self:hover .tree-item-flair {
  color: var(--color-base-20)
}

body {
  --modal-border-width: 0
}

body .horizontal-tab-nav-item.is-active,
body .vertical-tab-nav-item.is-active {
  background-color: var(--interactive-accent);
  color: var(--color-base-00)
}

@media(hover: hover) {
  body .horizontal-tab-nav-item:hover,
  body .vertical-tab-nav-item:hover {
    color: var(--color-base-00);
    background-color: var(--interactive-accent)
  }
}

body .community-modal-sidebar {
  background-color: var(--background-primary)
}

body .mod-community-theme .setting-item-name {
  color: var(--nav-item-color)
}

body .mod-community-plugin .setting-item-name {
  color: var(--nav-item-color)
}

body .mod-community-modal .modal-sidebar button.clickable-icon {
  color: var(--nav-item-color)
}

.theme-light .horizontal-tab-nav-item,
.theme-light .vertical-tab-nav-item {
  color: var(--color-base-40)
}

.theme-light .community-modal-search-results-wrapper {
  border-top: var(--border-width) solid var(--color-base-30)
}

.theme-dark .horizontal-tab-nav-item,
.theme-dark .vertical-tab-nav-item {
  color: var(--color-base-160)
}

.theme-dark .community-modal-search-results-wrapper {
  border-top: var(--border-width) solid var(--color-base-100)
}

.theme-light {
  --ribbon-background: var(--color-base-25);/*bg de la cinta*/
  --ribbon-background-collapsed: var(--color-base-95)
}

.theme-dark {
  --ribbon-background: var(--color-base-90);/*bg de la cinta*/
  --ribbon-background-collapsed: var(--color-base-95)
}

body {
  --status-bar-background: var(--divider-color);
  --status-bar-border-color: var(--divider-color);
  --status-bar-radius: var(--radius-m) 0 0 0/*redondeo de la barra inferior de estado*/
}

.theme-light {
  --table-border-color: var(--color-base-50);/*tablas*/
  --table-header-border-color: var(--color-base-50);
  --table-header-background: var(--color-base-30);
  --table-header-background-hover: var(--color-base-30);
  --table-header-color: var(--color-base-100)
}

.theme-dark {
  --table-border-color: var(--color-base-125);/*tablas*/
  --table-header-border-color: var(--color-base-125);
  --table-header-background: var(--color-base-120);
  --table-header-background-hover: var(--color-base-120);
  --table-header-color: var(--color-base-200)
}

body {
  --tab-background-active: var(--background-primary);
  --tab-text-color: var(--text-faint);
  --tab-text-color-focused: var(--text-faint);
  --tab-divider-color: var(--color-base-100);
  --tab-outline-width: 0px
}

.theme-light {
  --tab-outline-color: var(--color-base-60)
}

.theme-dark {
  --tab-outline-color: var(--color-base-95)
}

.theme-light {
  --text-normal: var(--color-base-100);/*color del texto*/
  --text-muted: var(--color-base-70);/*color del texto hint*/
  --text-faint: var(--color-base-100);/*color del texto de la barra superior*/
  --text-on-accent: var(--color-base-00);
  --text-error: var(--color-red);
  --text-success: var(--color-green);
  --text-selection: hsla(var(--color-accent-hsl), 0.2);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-2);
  --interactive-normal: var(--color-base-00);
  --interactive-hover: var(--color-base-00)
}

.theme-dark {
  --text-normal: var(--color-base-180);/*color del texto*/
  --text-muted: var(--color-base-170);/*color del texto hint*/
  --text-faint: var(--color-base-160);/*color del texto de la barra superior*/
  --text-on-accent: var(--color-base-100);
  --text-error: var(--color-red);
  --text-success: var(--color-green);
  --text-selection: hsla(var(--color-accent-hsl), 0.2);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-2);
  --interactive-normal: var(--color-base-95);
  --interactive-hover: var(--color-base-90)
}

body {/*tamaño de las fuentes*/
  --font-ui-smaller: 12px;
  --font-ui-small: 13px;
  --font-ui-medium: 15px;
  --font-ui-large: 20px
}

.theme-light {
  --vault-name-font-size: var(--font-ui-medium);
  --vault-name-font-weight: var(--font-medium);
  --vault-name-color: var(--color-accent)
}

.theme-dark {
  --vault-name-font-size: var(--font-ui-medium);
  --vault-name-font-weight: var(--font-medium);
  --vault-name-color: var(--color-accent)
}

.theme-light{
  --titlebar-background: var(--color-base-25);/*color de la barra superior*/
  --titlebar-background-focused: var(--color-base-25);/*color de la barra superior al darle click*/
  --titlebar-text-color: var(--text-faint);
  --titlebar-text-color-focused: var(--text-faint);
  --titlebar-text-weight: var(--font-normal)
}

.theme-dark{
  --titlebar-background: var(--color-base-90);/*color de la barra superior*/
  --titlebar-background-focused: var(--color-base-90);/*color de la barra superior al darle click*/
  --titlebar-text-color: var(--text-faint);
  --titlebar-text-color-focused: var(--text-faint);
  --titlebar-text-weight: var(--font-normal)
}

.theme-light #calendar-container {/*colores del calendario*/
  --color-background-heading: transparent;
  --color-background-day: transparent;
  --color-background-day-empty: transparent;
  --color-background-day-active: var(--background-nav-selected);
  --color-background-day-hover: var(--background-nav-alt);
  --color-dot: var(--text-nav);
  --color-arrow: var(--text-nav);
  --color-text-title: var(--text-faint);
  --color-text-heading: var(--text-faint);
  --color-text-day: var(--nav-item-color);
  --color-text-today: var(--color-accent)
}

.theme-dark #calendar-container {/*colores del calendario*/
  --color-background-heading: transparent;
  --color-background-day: transparent;
  --color-background-day-empty: transparent;
  --color-background-day-active: var(--background-nav-selected);
  --color-background-day-hover: var(--background-nav-alt);
  --color-dot: var(--text-nav);
  --color-arrow: var(--text-nav);
  --color-text-title: var(--text-faint);
  --color-text-heading: var(--text-faint);
  --color-text-day: var(--nav-item-color);
  --color-text-today: var(--color-accent)
}

.theme-light .checklist-plugin-main {
  color: var(--color-base-20);
  --background-modifier-border: var(--color-accent);
  --background-modifier-cover: var(--color-base-110);
  --checklist-checkboxBorder: 2px solid var(--color-base-20);
  --checklist-listItemBackground: var(--color-base-90);
  --checklist-listItemBackground--hover: var(--color-accent);
  --checklist-iconFill: var(--color-base-20);
  --checklist-textColor: var(--color-base-20);
  --checklist-countBackground: var(--color-base-90);
  --checklist-searchBackground: var(--color-base-110)
}

.theme-light .checklist-plugin-main li:hover {
  color: var(--color-base-20)
}

.theme-light .checklist-plugin-main li:hover .checkbox {
  border-color: var(--color-base-00)
}

.theme-dark .checklist-plugin-main {
  color: var(--color-base-160);
  --background-modifier-border: var(--color-accent);
  --background-modifier-cover: var(--color-base-90);
  --checklist-checkboxBorder: 2px solid var(--color-base-120);
  --checklist-listItemBackground: var(--color-base-95);
  --checklist-listItemBackground--hover: var(--color-accent);
  --checklist-iconFill: var(--color-base-160);
  --checklist-textColor: var(--color-base-160);
  --checklist-countBackground: var(--color-base-90);
  --checklist-searchBackground: var(--color-base-95)
}

.theme-dark .checklist-plugin-main li:hover {
  color: var(--color-base-100)
}

.theme-dark .checklist-plugin-main li:hover .checkbox {
  border-color: var(--color-base-120)
}

.theme-light #dangling-links {
  color: var(--color-base-20)
}

.theme-dark #dangling-links {
  color: var(--color-base-160)
}

.theme-light .kanban-plugin {
  --kanban-border: var(--border-width)
}

.theme-light .kanban-plugin .kanban-plugin__lane-form-wrapper {
  background-color: var(--color-base-00);
  border: 0px
}

.theme-light .kanban-plugin .kanban-plugin__lane-action-add {
  background-color: var(--interactive-accent-hover)
}

.theme-light .kanban-plugin .kanban-plugin__lane {
  background-color: var(--color-base-20)/*color de las tablas kanban*/
}

.theme-dark .kanban-plugin {
  --kanban-border: var(--border-width)
}

.theme-dark .kanban-plugin .kanban-plugin__lane-form-wrapper {
  border: 0px
}

.theme-dark .kanban-plugin .kanban-plugin__lane-action-add {
  background-color: var(--interactive-accent-hover)
}

.theme-light .style-settings-container[data-level="2"] {
  background: var(--color-base-25);
  border: 1px solid var(--color-base-30);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 2px 0 2px -20px
}

.theme-dark .style-settings-container[data-level="2"] {
  background: var(--color-base-110);
  border: 1px solid var(--color-base-100);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 2px 0 2px -20px
}

.setting-item.setting-item-heading.style-settings-heading:not(.is-collapsed) {
  border-bottom: 0px solid var(--background-modifier-border);
  margin-bottom: 10px
}

.setting-item-name {/*texto ajustes*/
  color: var(--text-normal);/*color cabeceras ajustes*/
  font-size: var(--font-ui-medium);
  line-height: var(--line-height-tight);
  font-weight: var(--font-semibold)
}

.workspace .mod-root .workspace-tab-header-inner::after {
width: 0px;
}

.workspace-leaf.mod-active .view-header {/*barra */
  background-color: var(--background-primary);
  border-bottom: 2px solid var(--interactive-accent);
}

/*Graph colors*/
.theme-light .graph-view.color-fill{
  color: var(--color-base-200);
}
.theme-light .graph-view.color-line{
  color: var(--color-base-50);
}
.theme-light .graph-view.color-text{
  color: var(--color-base-100);
}
.theme-light .graph-view.color-fill-highlight .color-line-highlight{
  color: var(--color-accent);
}

.theme-dark .graph-view.color-fill{
  color: var(--color-base-200);
}
.theme-dark .graph-view.color-line{
  color: var(--color-base-120);
}
.theme-dark .graph-view.color-text{
  color: var(--color-base-200);
}
.theme-dark .graph-view.color-fill-highlight .color-line-highlight{
  color: var(--color-accent);
}

.theme-light .workspace-ribbon.mod-left.is-collapsed {
  background-color: var(--color-base-25);
  border-right-color: var(--divider-color);
}

.theme-dark .workspace-ribbon.mod-left.is-collapsed {
  background-color: var(--color-base-25);
  border-right-color: var(--divider-color);
}

.theme-light .horizontal-tab-nav-item, .theme-light .vertical-tab-nav-item {
  color: var(--color-base-100);
}

.theme-light .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher {
  background-color: var(--color-base-25);
}

.theme-dark .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher {
  background-color: var(--color-base-100);
}

.nav-file-tag::before {
  content: '● ';
  color: var(--color-accent);
}

.nav-folder .nav-folder-title-content::before {
  content: '📂 ';
}

.nav-folder.is-collapsed .nav-folder-title-content::before {
  content: '📁 ';
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title-content::before {
  content: '📄 '
}

.theme-dark .workspace-leaf-resize-handle {
  background-color: var(--color-base-90);
  border-color: var(--color-base-90);
}

.theme-dark .workspace-ribbon {
  border-right: var(--divider-width) solid var(--color-base-90);
}

.oros-table{
  background-color: red;
}

body > div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-horizontal.mod-sidedock.mod-right-split > div:nth-child(4) > div.workspace-tab-header-container {
	display: none;
}

.marginTop {
	margin-top: 10px;
}

.theme-light .filled.svelte-1widvzq {
  fill: var(--color-base-100);
}

.theme-dark .filled.svelte-1widvzq {
  fill: var(--color-base-160);
}


/* @plugins
core:
- backlink
- command-palette
- daily-notes
- file-explorer
- file-recovery
- global-search
- graph
- outgoing-link
- outline
- page-preview
- publish
- random-note
- starred
- switcher
- sync
- tag-pane
- word-count
community:
- buttons
- dataview
- calendar
- obsidian-charts
- obsidian-checklist-plugin
- obsidian-codemirror-options
- obsidian-dictionary-plugin
- obsidian-embedded-note-titles
- obsidian-excalidraw-plugin
- obsidian-git
- obsidian-hider
- obsidian-hover-editor
- obsidian-kanban
- obsidian-metatable
- obsidian-minimal-settings
- obsidian-outliner
- obsidian-system-dark-mode
- obsidian-style-settings
- quickadd
- sliding-panes-obsidian
- todoist-sync-plugin
*/
/* @settings

name: Oros Theme
id: oros-style
settings:
    - 
        id: color-accent
        title: Accent Color
        type: variable-color
        format: hex
        default: '#B18859'
		description: "Color de los detalles del tema."
	- 
        id: light-theme
        title: Light theme
        type: heading
        level: 3
    - 
        id: oros-light-theme-base-color
        title: Base color
        type: variable-color
        format: hsl-split
        default: '#e0b4b2'
		description: "Color base del modo claro."
	- 
		id: dark-theme
		title: Dark theme
		type: heading
		level: 3
	- 
        id: oros-dark-theme-base-color
        title: Base color
        type: variable-color
        format: hsl-split
        default: '#212121'
		description: "Color base del modo oscuro."
*/